[Desktop Entry]
Name=ZeroController
Type=Application
Terminal=false
Exec=zero-controller
Icon=zero-controller
Categories=Utility;
Comment=A desktop application for controlling Blixt Zero
